<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U MAD BRO</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>
  <body>
    <form action="/" method="post">
      <label for="task_name">Enter in a reddit username here:</label>
      <input type="text" id="username" name="username" />
      <input type="submit" />
    </form>
  </body>
</html>
