<%= @user.username %>
<ul>
  <% @comments.each do |comment| %>
    <li>
    Comment: <%= comment.comment %><br>
    Karma: <%= comment.karma %><br>
    Mad: <%= comment.mad %><br>
    </li>
  <% end %>
</ul>
